.note {
    color: grey;
    padding-top: 3px;
    font-size: 15px;
}

.message {
    background: rgb(240, 239, 239);
    font-size: 1.2rem;
    border: 2px solid;
    border-radius: 3px;
    padding: 5px;
    margin-bottom: 10px;
}

.error {
    color: red;
}

.success {
 color: green;
}

.confirm {
    color: lightblue;
}